* {
  font-family: 'Lato', sans-serif;
  color: #555;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
}

main h1 {
  font-size: 40px;
  border-bottom: 3px solid #25b7d3;
}

main h2 {
  font-size: 30px;
}

#main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 600px;
}

#microphone-container {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;

  padding: 50px;
}

#microphone-icon-container {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;

  height: 80px;
  width: 80px;
  border: 3px solid #77777700;
  border-radius: 50%;
  margin-top: 20px;

  cursor: pointer;
  transition: 300ms;
}

#microphone-icon {
  color: #555555;
  font-size: 3rem;
}

#detector {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;

  padding: 50px;
}

#detector span {
  font-size: 80px;
  color: #D46B11;
  height: 80px;
  margin-top: 5px;
}

#info-container {
  margin-top: 30px;
  font-size: 20px;
}

.info-icon {
  height: 15px;
  margin-right: 10px;
}

#detune, .pitch {
  display: none;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: #555;
  width: 100%;
  height: 10vh;
  padding: 2vh;
}

footer p strong, footer div p {
  background-color: transparent;
  color: #ccc;
  width: 100%;
}

.flex-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30vw;
}

.align {
  display: grid;
  grid-template-columns: 6% 13% 12% 13%;
  align-items: flex-start;
  justify-content: flex-start;
}

@media only screen and (max-width: 700px) {
  main h1 {
    font-size: 30px;
  }

  main h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 500px) {
  main h1 {
    font-size: 25px;
  }

  main h2 {
    font-size: 20px;
  }

  #info-container {
    font-size: 15px;
  }

  #microphone-container {
    padding: 40px;
  }

  #detector {
    padding: 40px;
  }
}